.main-content {
  margin-top: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.page-header {
  background-image: unset;
  background-color: transparent;
  padding: 0;
}

.header-container {
  background-color: #673ab7;
  padding: 3rem;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.legal-header {
  padding: 1rem;
}

.company-name-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logo {
  margin-right: 10px;
}
.company-name {
  font-size: 1.2em;
}

.project-name {
  color: #fff;
}
.project-tagline {
  color: #eee;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #333;
}

#classzoo-privacy-policy,
#classzoo-terms-and-conditions {
  margin-top: 0;
}
