<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#673ab7">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="container header-container">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <div class="company-name-wrapper">
          <img class="company-logo" src="{{ '/assets/images/classzoo_40x40.png' | relative_url }}" alt="ClassZoo" class="project-logo">
          <span class="company-name"><strong>Class</strong>Zoo</span>
        </div>
      </div>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>