<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#673ab7">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    {% seo %}
  </head>
  <body>
    <main id="content" class="main-content" role="main">
      <div class="legal-header">
        <img src="/assets/images/classzoo_320x320.png" alt="ClassZoo" width="100">
      </div>
      {{ content }}
    </main>
  </body>
</html>